{% extends "base.html" %}

{% block title %}
FAQ
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="bg-light rounded h-100 p-4">
            <div class="row">
                <div class="col-6">
                    <h6 class="mb-4">Sujets</h6>
                </div>
                <div class="col-6 text-end">
                    <a class="btn btn-sm btn-primary" href="">Ajouter Sujet</a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Sujet</th>
                            <th scope="col">Questions</th>
                            <th scope="col">Réponses</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <a href="#" class="text-primary">#8e33075b6</a>
                            </th>
                            <td>Salutations</td>
                            <td>1</td>
                            <td>1</td>
                            <td class="text-end">
                                <a href="/faq/details/_id" class="btn btn-square btn-dark">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="/faq/update/_id" class="btn btn-square btn-success">
                                    <i class="fa fa-pen"></i>
                                </a>
                                <a href="/faq/delete/_id" class="btn btn-square btn-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
    document.getElementById('menu_faq').classList.add('active');
</script>
{% endblock js %}