{% extends "base.html" %}

{% block title %}
FAQ
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="bg-light rounded h-100 p-4">
            <div class="row">
                <div class="col-6">
                    <h6 class="mb-4">Sujets</h6>
                </div>
                <div class="col-6 text-end">
                    <a class="btn btn-sm btn-primary" href="/faq/sujet/create">Ajouter Sujet</a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Sujet</th>
                            <th scope="col">Questions</th>
                            <th scope="col">Réponses</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sujet in sujets %}
                        <tr>
                            <th scope="row">
                                <a href="/faq/sujet/details/{{ sujet.get('_id') }}" class="text-primary">{{
                                    (sujet.get('_id') |
                                    string)[:8]
                                    }}</a>
                            </th>
                            <td>{{ sujet.get('text') }}</td>
                            <td>{{ (question_read_all(sujet.get('_id') | string) | length) | default(0) }}</td>
                            <td>{{ (reponse_read_all(sujet.get('_id') | string) | length) | default(0) }}</td>
                            <td class="text-end">
                                <a href="/faq/sujet/details/{{ sujet.get('_id') }}" class="btn btn-square btn-dark">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="/faq/sujet/update/{{ sujet.get('_id') }}" class="btn btn-square btn-success">
                                    <i class="fa fa-pen"></i>
                                </a>
                                <a href="/faq/sujet/delete/{{ sujet.get('_id') }}" class="btn btn-square btn-danger"
                                    onclick="return confirm('Supprimer Sujet');">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="5">aucun sujet</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
    document.getElementById('menu_faq').classList.add('active');
</script>
{% endblock js %}