{% extends "base.html" %}

{% block title %}
Utilisateurs
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">Utilisateurs</h6>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Utilisateur</th>
                            <th scope="col">Téléphone</th>
                            <th scope="col">Email</th>
                            <th scope="col">État</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <a href="#" class="text-primary">#8e3307576</a>
                            </th>
                            <td>Wale</td>
                            <td>97000000</td>
                            <td>wale@gmail.com</td>
                            <td>
                                <span class="badge bg-success">Active</span>
                            </td>
                            <td class="text-end">
                                <a href="/faq/details/_id" class="btn btn-square btn-dark">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="/faq/update/_id" class="btn btn-square btn-success">
                                    <i class="fa fa-pen"></i>
                                </a>
                                <a href="/faq/delete/_id" class="btn btn-square btn-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
    document.getElementById('menu_clients').classList.add('active');
</script>
{% endblock js %}